.btn {
  border: 1px solid var(--ligthBlue2);
  background-color: var(--darkblue);
  padding: 10px;
  border-radius: 10px;
  color: var(--ligthBlue2);
  font-size: 15px;
}

.btn2 {
  margin-left: 10px;
  width: 100px;
  font-weight: bold;
}
